<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
    <Properties>
        <property name="pattern_file">
            %d{yyyy-MM-dd HH:mm:ss,SSS} %-5level %logger{5}: %msg%n
        </property>
        <property name="LOG_DIR">logs</property>

    </Properties>
    <Appenders>

        <RollingFile name="RollingFile" fileName="${LOG_DIR}/hippodrome.log" append="true"
                     filePattern="${LOG_DIR}/hippodrome.%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${pattern_file}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${LOG_DIR}">
                    <IfFileName glob="hippodrome.*.log">
                        <IfLastModified age="P7D"/>
                    </IfFileName>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>

</Configuration>